@mixin styleText($color,$fs,$fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin styleButtons($bg-color,$border-color,$border-radius,$pd-y,$pd-x) {
    background-color:$bg-color;
    border: 1px solid $border-color;
    border-radius:$border-radius ;
    padding:$pd-y $pd-x;
}

@mixin styleButtonHover($bg-hover,$border-hover,$color-hover) {
    background-color:$bg-hover ;
    border-color: $border-hover;
    color:$color-hover ;
}

@mixin responsive($screen) {
   @if( map-has-key($map:$breakpoints, $key:$screen)){
    //nếu tìm thấy tên màn hình,vd: screen: small
    $value: map-get($map:$breakpoints , $key:$screen );
    @media screen and (max-width:$value){
        @content;
    }
   } 
   @else{
       @warn "không tìm thấy màn hình";
   }
}